*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    position: relative;
    background-color: #DFE1E5;
}

.container{
    position: absolute;
    top: 45%;
    left: 42%;
    transform: translate(-50%, -50%);
    height: 100px;
}

.container.active{
    background-color: #444;
}

.container .toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100px;
    background: #ccc;
    border-radius: 60px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    position: absolute;
    top: 32px;
    left: 40px;
    z-index: 1;
    color: rgba(255, 255, 255, 0.6);

}

.container i{
    position: absolute;
    top: 36px;
    right: 32px;
    text-decoration: none;
    z-index: 1;
    font-size: 30px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.2);
}


.container .toggle .toggle-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
    z-index: 2;
}

.container .toggle.active{
    background: rgb(74, 172, 74);
}

.container .toggle.active .toggle-btn{
    left: 85px;
}

.container .text{
    position: absolute;
    left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

