body{
    background-color: #34304655;
    transition: 0.5s;
    height: 100vh;
    position: relative;
}

body .light-mode {
    position: absolute;
    top: 5px;
    left: 45%;
    font-size: 30px;
    color: rgb(239, 212, 6);
}

body .dark-mode{
    position: absolute;
    top: 5px;
    right: 45%;
    font-size: 30px;
    color: transparent;
}

.changeTheme{
    margin: 100px auto 0 auto;
    width: 80px;
    height: 40px;
    display: block;
    background-color: #cbcbcb;
    border-radius:20px;
    position: relative;
    transition: 0.5s;
}

.changeTheme::before{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    content: "";
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0 5px 10px #b5b4b4;
    cursor: pointer;

}

.changeTheme input{
    display: none;
}

.list{
    padding: 0;
    margin:30px auto;
    list-style: none;
    text-align: left;
    width:400px;
    display: block;
}

.list li{
    padding: 20px;
    color: #555;
    background-color: #ddd;
    margin-bottom: 1px;
    font-family: monospace;
}

.changeTheme:has(input:checked){
    background-color: #4cb774;
}

.changeTheme:has(input:checked)::before{
    left: calc(100% - 35px);
}

body:has(input[name="changeTheme"]:checked){
    background-image: linear-gradient(to top, #1a1f39, #2e253e);

}

body:has(input[name="changeTheme"]:checked) .list li {
    color: #eee;
    background-color: #433e5a55;
}

body:has(input[name="changeTheme"]:checked) .light-mode {
    display: none;
}

body:has(input[name="changeTheme"]:checked) .dark-mode {
    color: rgb(207, 207, 99);
}