@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;500;700&display=swap');

h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: rgb(77, 77, 65);
}

body{
    background-color: #EAEAEA;
    overflow: hidden;

}


.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 620px;
    padding: 50px;

    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #bdbdbd;
}

.container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}


#slide{
    width: max-content;
    margin-top: 50px;
}

.item{
    width: 400px;
    height: 250px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    background-size: 200%;
    position: absolute;
    z-index: 1;
    border-radius: 30px;
}

.item:nth-child(1){
    transform: translate(-145%);
    opacity: 0;
    background-position: 0 50%;
}

.item:nth-child(2){
    transform: translate(-35%);
    background-position: 20% 50%;
}

.item:nth-child(3){
    transform: translate(75%);
    background-position: 50% 50%;
}

.item:nth-child(4){
    transform: translate(185%);
    background-position: 80% 50%;
}

.item:nth-child(n+5){
    transform: translate(295%);
    opacity: 0;
    background-position: 100% 50%;
}

.item .content{
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 80%;
    padding: 0 10%;
    font-family: system-ui;
    text-align: center;
    box-shadow: 0 30px 50px #b9b9b9;
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
    font-size: 24px;
    border-radius: 0 0 30px 30px;
}

.item .content .name{
    font-family: 'Anton', sans-serif;
}

.item:hover .content{
    max-height: 120px;
}

.item .content .type{
    padding-bottom: 8px;
}

.item:hover{
    background-size: 250%;
    border-radius: 30px 30px 0 0;
}


.button{
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}

.button button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transition: 1s;
    background-color: #665A48;
    cursor: pointer;
}

.button button:hover{
    background-color: #9F8772;
}

.button button i{
    font-size: 20px;
    color: #EDDBC0;
}

